*{	
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;	
}
body {
    font-family: sans-serif;
}

#wrapper{
	max-width: 1200px; 
	width: 100%;
	margin: 0 auto;
    border: 0.1px solid #e4e4e4;
}
a{
	text-decoration: none;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
#navhead, .footerwrapper{
    font-family: cursive;
}
#navhead{
	background: black;
	padding: 20px;
}
.logo{
	display: inline-block;
}
#navhead .logo a{
	font-weight: bold;
	text-decoration: none;
	font-size: 30px
}
.butuh{
	color: white;
}

.darah{
	color: red;
    margin-left: -10px;
}

ul.navigasi{
	float: right;
	padding: 0;
	margin: 0;

}

.navigasi li{
	display: inline-block;
}

.navigasi li a {
    padding: 5px 10px;
/*    background: red;
*/    font-size: 30px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
ul li{
	list-style:  none
}


#textjumbo{
	background: #d8d8d8;
	padding: 30px 0;
}

.tulispembuka{
	width: 50%;
	display: inline-block;
}
.totaluser{
    width: 50%;
    display: inline-block;
    float: right;
    text-align: center;
}

.tuliswarna{
	margin: 20px 0;
}
.tuliswarna p{
	color: red;
	font-size: 40px;
	font-weight:bold;
}

a.btn {
    background: red;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 30px;
}

.totaluser p {
    margin: 30px;
}

.kotakgambar img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.awalan {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0;    
}

.perkonten {
    display: inline-block;
    margin: 20px;
    width: 300px;
    box-shadow: 4px 6px 27px 4px rgba(0, 0, 0, 0.2);
}
.content {
    /*margin: 0 auto;*/
    text-align: center;
}

.lihatsemua{
	text-align: center; 
    margin: 60px;
}
.lihatsemua a{
	padding: 20px;
	background: red;
	color: white;
}

.label {
    position: absolute;
    bottom: 10px;
    color: red;
    background: white;
    padding: 5px 10px;
}

.kotakgambar {
    position: relative;
}

.kotakdeskripsi {
    text-align: left;
    padding: 5px 10px;
}

.title {
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 10px;
    color:black;
}
.user,.lokasi {
    color: #444444;
    font-size: 100%;
}

.kotakdarah {
    margin: 20px 0;
    width: 100%;
    background: #ea7a7a;
    box-sizing: border-box;
    color: white;
}

.kebutuhandarah {
    background: red;
    padding: 10px;
    width: 80%;
}

.tulisanfoot{
	font-size: 30px;
	font-weight: bold;
}
.footerwrapper{
	background: black;
	padding: 0px 0;
}
.footerbawah {
    background: #d8d8d8;
    margin: 0 -15px;
    padding: 10px;
}

.footeratas::after {
    content: "";
    clear: both;
    display: table;
}

.footerkiri,.footertengah, .footerkanan {
    display: inline-block;
}
.footerkiri{
	width: 30%;
}
.footertengah, .footerkanan{
	width: 34%; 
    /*margin: 0 150px;*/
    float: right;
}

.footkonten h2 {
    font-size: 150%;
    color: white;
    margin: 10px 0;
}

.footkonten ul li a {
    color: white;
}
.footeratas {
    padding: 20px 0;
    color: white;
}

@media only screen and  (max-width: 600px) {
    .navigasi{
        display: none;
    }
    .totaluser {
        width: 100%;
        text-align: left;
        float: none;
    }
    .tulispembuka {
        width: 100%;
    }    
    .totaluser p {
        margin: 30px 0;
    }
    .footertengah, .footerkanan {
        width: 100%; 
        margin: 0; 
        float: none;
    }    
    .footerkiri {
        width: 100%;
    }
}

@media only screen and  (max-width: 734px) {
    .kotakgambar img {
        max-width: 500px;
        width: 100%;
    }
    .perkonten {
        width: 100%;
        max-width: 500px;
        margin: 10px 0;
    }    
}