.contentpage {
    width: 100%;
    display: inline-block;
    max-width: 800px;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.sidebar {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    float: left;
    text-align: center;
}
img.imageside {
	width: 100%;
    max-width: 300px;
    height: 150px;
}
.pageku::after{
    content: "";
    clear: both;
    display: table;	
}
.pageku {
    margin: 30px 0;
}
.sidejud {
    font-weight: bold;
    color: red;
    font-size: 130%;
}
.sidebutuh {
    color: #797979;
    font-size: 90%;
}
.titlesid{
	font-size: 200%;
	color:red;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px
}
.gambarbesar {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 500px;
}
h2.juduldipage {
    font-size: 200%;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
}
.userpage{
	text-align: left;
    font-weight: bold;
    margin: 20px 0;
    font-size: 120%;
}
.keteranganpage{
	text-align: left;
}

.sidebar li {
	margin: 30px 0;
	padding: 0 20px;
}
.pageuser{
	width: 50px;
	float: left;
}
.namauser {
	margin-left: 20px;
    line-height: 50px;
}
.kotakisi {
    padding: 1px 10px 30px 30px;
    box-shadow: 16px -2px 61px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.kotaksocial {
	padding: 10px;
    box-shadow: 16px -2px 61px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    position: relative;
}
.kotaksocial::after, .lokasi::after{
    content: "";
    clear: both;
    display: table;	
}
.fa-heart, .fa-google-plus {
    color: red;
}
.fa-facebook{
	color: blue;
}
.fa-twitter{
	color:aqua;
}
.lovein{
	position: absolute;
	left: 10px;
}
.shareya{
	float: right;
}
.icon {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
}
.fa-heart.icon:hover,.fa-google-plus.icon:hover {
    color: white;
    background: red;
}
.fa-facebook.icon:hover {
    color: white;
    background: blue;
}
.fa-twitter.icon:hover {
    color: white;
    background: aqua;
}


.lokasi {
    padding: 10px;
    box-shadow: 16px -2px 61px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: left;
    /* position: relative; */
}

.lokasi img {
 	float: left;
    width: 100%;
    margin-right: 20px;
    max-width: 500px;
    height: 200px;
    object-fit: cover;

}

@media only screen and  (max-width: 1200px) {
	.contentpage {
		margin: 0 auto;
		display: block;
		float: none;
	}

	aside.sidebar {
	    margin: 0 auto;
	    display: block;
	    float: none;
	    margin-top: 50px;
	}
}

@media only screen and  (max-width: 600px) {
	.hilang{
		display: none;
	}
}

